

@use 'src/styles/definitions' as *;


:host {

  position: fixed;
  width: 100%;
  height: 20px;
  box-shadow: 0 0 10px gray;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  background: $green;
  user-select: none;


  span {
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

}
