
$white: white;
$white-dirty: rgba($white, 0.783);

$violet-darker: #181238;
$violet: #423a6f;
$lila: #623AA2;
$violet-light: #6295bf;
$blue: #2b44b4;
$cyan: #9deff1;
$cyan-dark: #cad7e2;
$green: #4aff4a;
$green-dark: #40cb40;
$yellow: #f7f75c;
$pink: #F97794;
$red: rgb(232, 51, 6);

