


@use 'src/styles/definitions' as *;


:host {
  display: grid;
  place-items: center;
}

i {
  padding: $padding;
  cursor: pointer;
  transition: all 300ms ease;
  &.white {
    color: white;
  }
  &:hover {
    color: $green;
    &.bi-trash {
      color: $red;
    }
  }
}

